<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>4CD77ECB-8EF9-4366-B4C1-A75D04DF109E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03846881-756A-4D4B-9905-6613CA86D1BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>653CA65F-90EF-4FF1-88F2-1776FB1933AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E89B2EE-7FB2-43C9-82C7-EFE05C6D1520</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80121B3B-270C-4D54-BDFD-A8E0FAB1726D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>913557B8-54E5-4344-B08C-AC0E16895766</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A093EA6-CE8A-4F2B-86C1-DF1CEF7FD926</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCB3D447-9547-4D99-9688-CBD4FAF349C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94424DF0-FBE7-453E-9B82-3A7E51B45714</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55915B14-4670-4D4D-8440-1ABE5CDF0C03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99C69B81-C11D-43A7-9B01-531AC8AD1D93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5C7EF53-E8CC-464E-B2BF-33EE9B262AD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4BC881B-F2DB-43BA-81A7-69A75496325C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7509782-6A2B-4485-ABCC-64FEA50FC097</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BCB3D447-9547-4D99-9688-CBD4FAF349C3</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>IN POPUP</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EB154EA4-5D22-40DE-A3D6-EA60F903EE58</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>NEW IN BACKGROUND</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F5C7EF53-E8CC-464E-B2BF-33EE9B262AD5</string>
				<key>modifiers</key>
				<integer>655360</integer>
				<key>modifiersubtext</key>
				<string>NEW IN POPUP</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC4B83C4-E114-4925-BA38-6919A6E1FB51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>328153A9-7238-4A8C-A75C-BBAA0B8D8E1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB4633DB-4D33-4C38-87A6-891B085713F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7509782-6A2B-4485-ABCC-64FEA50FC097</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F717FB2E-F04C-4DAD-8E8B-A5D764EB1896</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB154EA4-5D22-40DE-A3D6-EA60F903EE58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFEC129A-D0E3-4051-A605-38EE9EB7B234</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF23B197-4EC9-40FA-8656-5E67B642A14E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robert J. P. Oberg</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bear Capture</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Shortcuts Events" to run the shortcut named (system attribute "shortcut") with input "∞s∞ {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55915B14-4670-4D4D-8440-1ABE5CDF0C03</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>24</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>¡</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>94424DF0-FBE7-453E-9B82-3A7E51B45714</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>c</string>
				<key>subtext</key>
				<string>IN BACKGROUND</string>
				<key>text</key>
				<string>Capture in Bear</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A4BC881B-F2DB-43BA-81A7-69A75496325C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Shortcuts Events" to run the shortcut named (system attribute "shortcut") with input "∞sp∞ {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E89B2EE-7FB2-43C9-82C7-EFE05C6D1520</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>24</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>¡</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>653CA65F-90EF-4FF1-88F2-1776FB1933AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>2</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>Ç</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EB4633DB-4D33-4C38-87A6-891B085713F3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Shortcuts Events" to run the shortcut named (system attribute "shortcut") with input "∞c∞ {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A7509782-6A2B-4485-ABCC-64FEA50FC097</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FFEC129A-D0E3-4051-A605-38EE9EB7B234</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>24</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>¡</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4CD77ECB-8EF9-4366-B4C1-A75D04DF109E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Shortcuts Events" to run the shortcut named (system attribute "shortcut") with input "∞sn∞ {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>03846881-756A-4D4B-9905-6613CA86D1BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Shortcuts Events" to run the shortcut named (system attribute "shortcut") with input "∞cp∞ {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BCB3D447-9547-4D99-9688-CBD4FAF349C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>2</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>Ç</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8A093EA6-CE8A-4F2B-86C1-DF1CEF7FD926</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Shortcuts Events" to run the shortcut named (system attribute "shortcut") with input "∞cn∞ {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EB154EA4-5D22-40DE-A3D6-EA60F903EE58</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Shortcuts Events" to run the shortcut named (system attribute "shortcut") with input "∞nn∞"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DF23B197-4EC9-40FA-8656-5E67B642A14E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>24</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>¡</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CC4B83C4-E114-4925-BA38-6919A6E1FB51</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Shortcuts Events" to run the shortcut named (system attribute "shortcut") with input "∞spn∞ {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>328153A9-7238-4A8C-A75C-BBAA0B8D8E1C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>2</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>Ç</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F717FB2E-F04C-4DAD-8E8B-A5D764EB1896</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Shortcuts Events" to run the shortcut named (system attribute "shortcut") with input "∞cpn∞ {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F5C7EF53-E8CC-464E-B2BF-33EE9B262AD5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>24</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>¡</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>80121B3B-270C-4D54-BDFD-A8E0FAB1726D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Shortcuts Events" to run the shortcut named (system attribute "shortcut") with input "∞scl∞ {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>913557B8-54E5-4344-B08C-AC0E16895766</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>2</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>Ç</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>99C69B81-C11D-43A7-9B01-531AC8AD1D93</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03846881-756A-4D4B-9905-6613CA86D1BC</key>
		<dict>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>1E89B2EE-7FB2-43C9-82C7-EFE05C6D1520</key>
		<dict>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>328153A9-7238-4A8C-A75C-BBAA0B8D8E1C</key>
		<dict>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>4CD77ECB-8EF9-4366-B4C1-A75D04DF109E</key>
		<dict>
			<key>note</key>
			<string>Capture Selection to New Note</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>55915B14-4670-4D4D-8440-1ABE5CDF0C03</key>
		<dict>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>653CA65F-90EF-4FF1-88F2-1776FB1933AD</key>
		<dict>
			<key>note</key>
			<string>Capture Selection to Inbox as Popup</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>80121B3B-270C-4D54-BDFD-A8E0FAB1726D</key>
		<dict>
			<key>note</key>
			<string>Capture Selection to Clipboard</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>8A093EA6-CE8A-4F2B-86C1-DF1CEF7FD926</key>
		<dict>
			<key>note</key>
			<string>Capture Clipboard to Inbox as Popup</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>913557B8-54E5-4344-B08C-AC0E16895766</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>94424DF0-FBE7-453E-9B82-3A7E51B45714</key>
		<dict>
			<key>note</key>
			<string>Capture Selection to Inbox</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>99C69B81-C11D-43A7-9B01-531AC8AD1D93</key>
		<dict>
			<key>note</key>
			<string>Capture Clipboard to New Note as Popup</string>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>A4BC881B-F2DB-43BA-81A7-69A75496325C</key>
		<dict>
			<key>note</key>
			<string>Capture with Keyword "c"</string>
			<key>xpos</key>
			<real>110</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>A7509782-6A2B-4485-ABCC-64FEA50FC097</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>BCB3D447-9547-4D99-9688-CBD4FAF349C3</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>CC4B83C4-E114-4925-BA38-6919A6E1FB51</key>
		<dict>
			<key>note</key>
			<string>Capture Selection to New Note as Popup</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>DF23B197-4EC9-40FA-8656-5E67B642A14E</key>
		<dict>
			<key>xpos</key>
			<real>1225</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>EB154EA4-5D22-40DE-A3D6-EA60F903EE58</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>EB4633DB-4D33-4C38-87A6-891B085713F3</key>
		<dict>
			<key>note</key>
			<string>Capture Clipboard to Inbox</string>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>F5C7EF53-E8CC-464E-B2BF-33EE9B262AD5</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>F717FB2E-F04C-4DAD-8E8B-A5D764EB1896</key>
		<dict>
			<key>note</key>
			<string>Capture Clipboard to New Note</string>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>FFEC129A-D0E3-4051-A605-38EE9EB7B234</key>
		<dict>
			<key>note</key>
			<string>New Empty Note</string>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>shortcut</key>
		<string>Bear Capture</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://afadingthought.substack.com</string>
</dict>
</plist>
